body {
    background-color: #000000;
}

#head {
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 30px 10px 20px 10px;
    font-family: Courier New;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

#head a {
    color: #FFF;
}

#main {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    width: 800px;
}

ul {
    list-style-type: none;
}

#title {
    font-size: 25px;
    font-weight: 900;
    padding: 20px 0 20px 0;
    margin: auto;
    text-align: center;
}

#posts {
    padding-top: 10px;
    margin: 0 200px 0 200px;
    text-align: center;
    font-size: 18px;
}

#foot {
    height: 40px;
    width: 800px;
    margin: 30px 0 20px 0;
}

#left {
    margin-left: 60px;
    float: left;
}

#right {
    margin-right: 60px;
    float: right;
}

a:link, a:visited {
    margin: 0 10px 0 10px;
    color: #000;
    text-decoration: none;
}

a:hover {
    margin: 0 10px 0 10px;
    color: #000;
    text-decoration: underline;
}

#disqus_thread {
    background-color: white;
    width: 700px;
    margin: 30px 0 0 30px;
}

#dsq-pagination {
    padding-bottom: 1px;
}

.dsq-comment-body, .dsq-textarea-background {
    margin-left: 10px;
}

