a:link, a:visited {
    margin: 0 10px 0 10px;
    color: #000;
    text-decoration: none;
}

a:hover {
    margin: 0 10px 0 10px;
    color: #000;
    text-decoration: underline;
}

body {
    background-color: #000000;
}

#head {
    color: #FFFFFF;
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 30px 10px 20px 10px;
    font-family: Courier New;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

#main {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    width: 800px;
}

#content {
    font-size: 16px;
    font-weight: 500;
    padding: 60px 0 20px 0;
    margin: 0 80px 0 80px;
    text-align: left;
}

#content p {
    line-height: 25px;
}

#content ul p {
    line-height: 25px;
    margin: 5px 0 0 5px;
}

div#foot a, div#content a {
    color: red;
}

p.title {
    font-size: 20px;
    font-weight: 800;
}

ul li {
    line-height: 25px;
}

#foot {
    height: 40px;
    width: 800px;
    margin: 30px 0 20px 0;
}

#left {
    margin-left: 60px;
    float: left;
}

#right {
    margin-right: 60px;
    float: right;
}

#disqus_thread {
    background-color: white;
    width: 700px;
    margin: 30px 0 0 30px;
}

